form{
    display:flex;
    flex-direction: column;
    width:60%;
    margin: auto;
}

form input, form textarea, form button{
    padding:20px;
    margin-bottom:20px;
    outline:none;
    border:none;
    background-color: #ddd;
}

form button{
    background-color: #C3260C;
    cursor:pointer;
    color: #fff;
}

h1{
    text-align: center;
}